# Visual Studio
.vs/
**/.vs/

bin/
**/bin/

obj/
**/obj/

# Flutter
.dart_tool/
build/

# Android
android/.gradle/

# iOS
ios/Pods/

# User files
*.user
*.suo

# Logs
*.log

# OS files
.DS_Store
Thumbs.db